<body class="page-header-fixed page-sidebar-fixed  pace-done">
  <main class="page-content content-wrap">

    <div class="navbar">
      <div class="navbar-inner">

        <div class="logo-box">
          <a href="index.html" class="logo-text"><span>Modern</span></a>
        </div>

        <div class="topmenu-outer">
          <div class="top-menu">

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">

                <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown" aria-expanded="false">
                  <span class="user-name">David<i class="fa fa-angle-down"></i></span>
                </a>

                <ul class="dropdown-menu dropdown-list" role="menu">
                  <li role="presentation"><a href="profile.html"><i class="fa fa-user"></i>Profile</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a href="login.html"><i class="fa fa-sign-out m-r-xs"></i>Log out</a></li>
                </ul>

              </li>
            </ul>

          </div>
        </div>

      </div>
    </div>


    <div class="page-sidebar sidebar">
      <div class="page-sidebar-inner" style="overflow: hidden; width: auto; height: 100%;">

        <ul class="menu accordion-menu">
          <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
          <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
          <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
          <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
          <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
          <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
          <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
        </ul>

      </div>
    </div>


    <div class="page-inner" style="min-height:647px !important">

      <div class="page-title">
        <h3>Fixed Sidebar</h3>
        <div class="page-breadcrumb">

          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Layouts</a></li>
            <li class="active">Fixed Sidebar</li>
          </ol>

        </div>
      </div>

      <div id="main-wrapper">
        
      </div>

      <div class="page-footer">
        <p class="no-s">2015 © Modern by Steelcoders.</p>
      </div>

    </div>


  </main>
</body>
